*.exe
*.bat
*.json
/2022/session.cookie
/2022/day20/obj/*.o
*.output
/2023/session.cookie
/2023/day1/msvcProject/*
/2023/day1/msvcProject
/2023/day1/test-msvc/
/2023/day1/test-msvc/*
2024/*/main
2024/*/test*
2024/*/cond*
